[submodule "attitude_adjustment"]
	path = attitude_adjustment
url=https://github.com/LeeNCompanyInc/openwrt
[submodule "trunk"]
	path = trunk
url=https://github.com/LeeNCompanyInc/openwrt
[submodule "barrier_breaker"]
	path = barrier_breaker
url=https://github.com/LeeNCompanyInc/openwrt
[submodule "chaos_calmer"]
	path = chaos_calmer
url=https://github.com/LeeNCompanyInc/openwrt
