[submodule "attitude_adjustment"]
	path = attitude_adjustment
url=https://github.com/teslamint/attitude_adjustment
[submodule "trunk"]
	path = trunk
url=https://github.com/teslamint/openwrt
[submodule "barrier_breaker"]
	path = barrier_breaker
	url = https://github.com/teslamint/barrier_breaker
[submodule "chaos_calmer"]
	path = chaos_calmer
	url = git://git.openwrt.org/15.05/openwrt.git
